[Unit]
Description=bm-monitor
StartLimitIntervalSec=0

[Service]
Type=simple
PrivateTmp=no
ExecStart=/bin/bm-monitor 1

Restart=always

[Install]
WantedBy=multi-user.target
